@page
@model FinalProject_BaiBeauty.PagesProducts.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index of Products</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<form method="post" class="searchForm">
    <input type="text" name="searchString" />
    <input type="submit" value="Search" />
</form>


@foreach(var item in Model.Product)
{
    <p>@Model.Product.</p>
    <p>@article.Text</p>
    <br />
    <br />
    <br />
}
<table class="table">
    <thead>
        <tr>
            <th>
                @* Sorting *@
                @{
                    var firstSort = "first_asc";
                    if(Model.CurrentSort == "first_asc"){
                        firstSort = "first_desc";
                    }
                }
                <a asp-page="./Index" asp-route-CurrentSort="@firstSort" asp-route-PageNum="@(Model.PageNum)">@Html.DisplayNameFor(model => model.Product[0].pName)</a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].pPrice)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Product) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.pName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pPrice)
            </td>
            <td>
                @foreach (var customer in item.Orders)
                {
                    @customer.Customer.firstName
                    @customer.Customer.lastName
                    <br>
                }
                @if(item.Orders.Count ==0){
                    @:No Order
                }
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ProductID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ProductID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ProductID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<hr>
@* Paging *@
@{
    var preDisabled="";
    if(Model.PageNum <= 1){
        preDisabled = "disabled";
    }
}
<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item @preDisabled">
        <a class="page-link" asp-page ="./Index" asp-route-PageNum ="@(Model.PageNum -1)" asp-route-CurrentSort="@firstSort">Previous</a>
        </li>
        <li class="page-item">
        <a class="page-link"asp-page ="./Index" asp-route-PageNum ="@(Model.PageNum +1)" asp-route-CurrentSort="@firstSort">Next</a>
        </li>
    </ul>
</nav>

