@page
@model FinalProject_BaiBeauty.PagesProducts.DetailsModel

@{
    ViewData["Title"] = "Details";
}
<style>
    header{
        background-color: #6543B5;
    }
    body{
        margin: auto;
        padding: 10px;
        background-color: #D6C8F6;
        font-family: 'Times New Roman', Times, serif;
    }
    a{  
        text-decoration: none;
        color: black;
    }
</style>

<h1>Details</h1>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.pName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.pName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.pPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.pPrice)
        </dd>

        <ul>
            @foreach (var customer in Model.Product.Orders!)
            {   
                <form method = "post">
                    <input type="hidden" asp-for="CustomerIdToDelete" value="@customer.Customer.CustomerID" />
                
                    <li>
                        @customer.Customer.firstName
                        @customer.Customer.lastName,
                        @customer.Customer.cEmail <input type="submit" Value="Delete" class="btn btn-danger btn-sm my-1" asp-page-handler="DeleteCustomer" asp-route-id="@Model.Product.ProductID">
                    
                    </li>
                </form>
            }
        </ul>
    </dl>
    @* Add customer form *@
    <div class="row">
    <div class="col-md-4">
        <form method="post">
            <input type="hidden" asp-for="Product.ProductID" />
            <div class="form-group">
                <select asp-items="Model.CustomerDropDown" asp-for="CustomerIdToAdd" class="form-control">
                    <option value="">--Select Customer--</option>
                </select>
                <span asp-validation-for="CustomerIdToAdd" class="text-danger"></span>
            </div>
            <br>
            <div class="form-group">
                <input type="submit" value="Add Customer" class="btn btn-primary" asp-page-handler="" asp-route-id="@Model.Product.ProductID"/>
            </div>
        </form>
    </div>
    </div>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Product?.ProductID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
