@page
@model FinalProject_BaiBeauty.PagesProducts.IndexModel

@{
    ViewData["Title"] = "Home";
}
<style>
    header{
        background-color: #6543B5;
    }
    body{
        margin: auto;
        padding: 10px;
        background-color: #D6C8F6;
        font-family: 'Times New Roman', Times, serif;
        
    }
    a{  
        text-decoration: none;
        color: black;
    }
</style>

<h1>Available Products</h1>

<p>
    <a asp-page="Create">Create New Product</a>
</p>

<form class="searchForm">
    <input type="text" name="searchString" />
    <input type="submit" value="Search" />
</form>


<table class="table">
    <thead>
        <tr>
            <th>
                @* Sorting *@
                @{
                    var firstSort = "first_asc";
                    if(Model.CurrentSort == "first_asc"){
                        firstSort = "first_desc";
                    }
                }
                <a asp-page="./Index" asp-route-CurrentSort="@firstSort" asp-route-PageNum="@(Model.PageNum)">@Html.DisplayNameFor(model => model.Product[0].pName)</a>

            </th>
            <th>
                @{
                    var secSort = "sec_asc";
                    if(Model.CurrentSort =="sec_asc"){
                        secSort = "sec_desc";
                    }
                    <a asp-page="./Index" asp-route-CurrentSort="@secSort" asp-route-PageNum="@(Model.PageNum)">@Html.DisplayNameFor(model => model.Product[0].pPrice)</a>
                }
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Product) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.pName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pPrice)
            </td>
            <td>
                @foreach (var customer in item.Orders)
                {
                    @customer.Customer.firstName 
                    <br>
                    @customer.Customer.lastName
                }
                @if(item.Orders.Count ==0){
                    @:
                }
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ProductID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ProductID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ProductID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<hr>
@* Paging *@
@{
    var preDisabled="";
    if(Model.PageNum <= 1){
        preDisabled = "disabled";
    }
}
<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item @preDisabled">
        <a class="page-link" asp-page ="./Index" asp-route-PageNum ="@(Model.PageNum -1)" asp-route-CurrentSort=@(Model.CurrentSort)>Previous</a>
        </li>
        <li class="page-item">
        <a class="page-link"asp-page ="./Index" asp-route-PageNum ="@(Model.PageNum +1)" asp-route-CurrentSort=@(Model.CurrentSort)>Next</a>
        </li>
    </ul>
</nav>

